# GLOBAL

ENV=development
JWT_SECRET=supersecretjwt
CSRF_SECRET=csrfsecretkey
AES_SECRET=aes256secret


# SUPABASE

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=


# GITHUB OAUTH

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/callback


# GEMINI KEYS (for rotation)

GEMINI_KEY_1=
GEMINI_KEY_2=
GEMINI_KEY_3=


# SERVICE URLS

AUTH_SERVICE_URL=http://auth-service:8001
REPO_SERVICE_URL=http://repo-service:8002
ANALYSIS_SERVICE_URL=http://analysis-service:8003
DOCS_SERVICE_URL=http://docs-service:8004


# RATE LIMIT

RATE_LIMIT_PER_MINUTE=20


# DOCKER PORTS

API_GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
REPO_SERVICE_PORT=8002
ANALYSIS_SERVICE_PORT=8003
DOCS_SERVICE_PORT=8004